.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
.react-tagsinput-tag {
  background-color:#0195ed !important;
  border-radius: 2px;
  border: 1px solid #0195ed !important;
  color:white !important;
}
